@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="winter"] .dark-logo {
  display: none;
}

[data-theme="winter"] .light-logo {
  display: block;
}

[data-theme="dark"] .light-logo {
  display: none;
}

[data-theme="dark"] .dark-logo {
  display: block;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Add the rest of your CSS styles here */
