# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
target
lib
link_preview_web.txt

# Fresh build directory
_fresh/
# npm dependencies
node_modules/
